# SMTP Ayarları (Gmail App Password önerilir)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=hadibarisalim@gmail.com
SMTP_PASS=xxxx-xxxx-xxxx-xxxx
SMTP_FROM_EMAIL=hadibarisalim@gmail.com
SMTP_FROM_NAME=Hadi Barışalım

# Sunucu
PORT=3000

# Veritabanı
MONGODB_URI=mongodb+srv://<kullanici_adi>:<sifre>@<cluster_adresi>.mongodb.net/hadibarisalim?retryWrites=true&w=majority
